#Ignore everything in LyA_code

src/LyA_code/*
src/LyA_code/config_files/**/*
src/LyA_code/Observation_new_v2/__pycache__
src/LyA_code/TOI_776_Obs_Packag4/__pycache__

#Apart From Local Python Files

!src/LyA_code/*.py
!src/LyA_code/config_files
!src/LyA_code/config_files/**/*.py
!src/LyA_code/Observation_new_v2
!src/LyA_code/TOI_776_Obs_Package4
